/* Footer Styles */
.footer {
  font-size: 14px;
  color: #333;
  text-align: center;
  padding: 20px 0;
  position: absolute;
  bottom: 0; /* Positioned at the bottom of the page */
  width: 100%; /* Full width */
  background-color: #f8f9fa;
  border-top: 1px solid #e0e0e0;
  font-weight: bold; /* Making the text bold */
}

/* No additional CSS rules are needed for the new footer content as the existing styles are sufficient to maintain consistency with the website's design. The content "Created by Codeshwar" will inherit the footer's styles, including font size, color, and alignment. */